<header class="site-header">

  <div class="hero">
    <h1>MANCHESTER</h1>
    <h1>- CODEJO -</h1>
    <!-- <div class="grid__item one-whole">
      

      
    </div> -->
    <!-- <div class="grid__item one-whole"> -->
      <!-- <nav class="site-nav">
        <ul>
          <li><a class="site-title" href="{{ site.baseurl }}/kata">Kata Library</a></li>
          <li><a class="site-title" href="https://github.com/{{ site.github_username }}">Github</a></li>
          <li><a class="site-title" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
          <li><a class="site-title" href="{{ site.baseurl }}/about">About</a></li>
        <ul>
      </nav>  -->
    <!-- </div> -->
  </div>

</header>
